.copy {
  color: rgb(8, 8, 8);
  background-color: grey;
  font-style: italic;
  font-size: 25px;
}
body {
  font-size: 18px;
  font-style: tahoma;
  font color: rebeccapurple;
  background-color:mediumpurple;
  line-height:1.5;
}
.box { background-image: url('https://www.fillmurray.com/150/1500');
  background-size: contain;